:80 {
    encode zstd gzip

    request_body {
        max_size 26MB
    }

    header {
        X-Content-Type-Options "nosniff"
        Referrer-Policy "same-origin"
        -Server
    }

    redir /dozzle /dozzle/ 308

    handle /dozzle/* {
        reverse_proxy dozzle:8080 {
            flush_interval -1
        }
    }

    handle {
        reverse_proxy api:8000
    }
}

:8888 {
    redir / /dozzle/ 308

    reverse_proxy dozzle:8080 {
        flush_interval -1
    }
}
